<%= render ::UIKit::FormInput::FormInputComponent.new(form: form, attribute: attribute, locale: locale) do |c| %>
  <%= form.password_field c.translated_attribute, class: 'block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-rose-200 sm:text-sm sm:leading-6', placeholder: c.placeholder %>

  <% c.with_label_hint do %>
    <span class="text-xs" data-text-input-characters-target="message"></span>
  <% end %>
<% end %>