<div class="w-full h-full flex items-center justify-center">
  <div class="max-w-md space-y-5">
    <h1>TODO 🚧 👷🏻‍♀️</h1>
    
    <p>
      <%= link_to "Logout", :sign_out, data: { turbo_method: :post } %>
    </p>

    <pre>
      <code>
        <%= current_user.company.uuid %>@<%= ENV['INBOUND_REPLY_EMAIL_DOMAIN'] %>
      </code>
    </pre>
  </div>
</div>