<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h2 class="text-2xl font-semibold leading-6 text-gray-900">
        <%= t('.title') %>
      </h2>
      <p class="mt-2 text-sm text-gray-700"><%= t('.description') %></p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none flex items-center space-x-4">
    </div>
  </div>

  <div class="mt-8 space-y-4">
    <%= render 'workspace_ui/invoice_suppliers/index/table' %>
  </div>
</div>