<a 
  href="<%= url %>"
  class="rounded-md bg-white <%= size_classes %> font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
  <% if action %>
  data-action="<%= action %>"
  <% end %>
>
  <%= label || content %>
</a>
