<nav class="bg-white shadow-sm">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex h-16 justify-between">
      <div class="flex">
        <%= app_kit :logo, url: workspace_root_path %>

        <div class="hidden sm:-my-px sm:ml-6 sm:flex sm:space-x-8">
          &nbsp;
        </div>
      </div>
      <div class="sm:ml-6 sm:flex sm:items-center">
        <!-- upload invoice button -->
        <div class="flex-shrink-0 mr-4">
          <%= ui_kit :direct_upload_button, label: t('.upload_button'), url: bulk_create_workspace_invoices_path, accept: 'application/pdf', multiple: true, size: :xs %>
        </div>

        <!-- notifications dropdown -->
        <%= render 'layouts/workspace_ui/notifications_dropdown' %>

        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <turbo-frame id="my_profile_dropdown_frame">
            <%= render 'layouts/workspace_ui/profile_dropdown' %>
          </turbo-frame>
        </div>
      </div>
    </div>
  </div>
</nav>