<%= ui_kit :email_field, form: form, attribute: :email %>
<%= ui_kit :password_field, form: form, attribute: :password %>

<div class="flex items-center justify-between">
  <div></div>
  <div class="text-sm leading-6">
    <a href="#" class="font-semibold text-gray-700 hover:text-gray-800">Forgot password?</a>
  </div>
</div>
