<%= ui_kit :email_field, form: form, attribute: :email %>
<%= ui_kit :password_field, form: form, attribute: :password %>

<div class="flex items-center justify-between">
  <div></div>
  <div class="text-sm leading-6">
    <%= link_to t('.forgot_password_link'), new_authentication_password_reset_path, class: 'font-semibold text-gray-700 hover:text-gray-800' %>
  </div>
</div>
