<div class="flex items-center justify-between">
  <div class="space-x-2 flex items-center">
    <label class="block text-sm font-medium leading-6 text-gray-900"><%= t('.label') %></label>
  </div>
</div>
<div class="mt-4 w-full">
  <div class="isolate flex space-x-8 overflow-hidden">
    <% current_company.users.with_attached_avatar.each do |user| %>
      <%= ui_kit :avatar, attachment: user.avatar, name: user.username, email: user.email %>
    <% end %>
  </div>

  <div class="mt-8 pt-4 border-t border-gray-900/10">
    <turbo-frame id="user_invitations_frame">
      <%= render 'workspace_ui/user_invitations/index' %>
    </turbo-frame>
  </div>
</div>