<%= render ::UIKit::FormInput::FormInputComponent.new(form: form, attribute: attribute) do |c| %>
  <fieldset class="mt-4">
    <div class="space-y-4 sm:flex sm:items-center sm:space-x-10 sm:space-y-0">
      <% choices.each do |(text, value)| %>
        <div class="flex items-center">
          <%= form.radio_button attribute, value, class: 'h-4 w-4 border-gray-400 text-black focus:ring-gray-200' %> 
          <%= form.label :"#{attribute}_#{value}", text, class: 'ml-3 block text-sm font-medium leading-6 text-gray-900' %>
        </div>
      <% end %>
    </div>
  </fieldset>
<% end %>